@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sports and Teams</h1>
    <p class="lead">This website gives out the information about the Famous Sports and their Teams.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Basketball</h2>
        <p>
           <img src="~/Content/Images/jc-gellidon-361849-unsplash.jpg" width="60%" height="50%" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Soccer</h2>
        <p><img src="~/Content/Images/tom-grimbert-718473-unsplash.jpg" width="60%" height="50%" /></p>
    </div>
    <div class="col-md-4">
        <h2>Baseball</h2>
        <p><img src="~/Content/Images/chris-chow-776550-unsplash.jpg" width="60%" height="50%" /></p>
    </div>
</div>